* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
}
.navbar-dark .navbar-nav .nav-item {
	padding-left: 5px;
	padding-right: 5px;
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
	font-size: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid;
	border-radius: 8px;
	border-color: grey;
	width: 100%;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: #badeed;
}

.about {
	width: 100%;
	display: flex;
	flex-flow: column;
	padding: 100px 0;
	text-align: left;
	background-color: #badeed;
}

.title {
	padding-left: 20px;
	text-align: center;
	font-size: 38px;
}
.about .about-container-1 {
	padding-left: 20px;
	margin-left: 35px;
	height: 70%;
	width: 95%;
	display: flex;
	background-color: wheat;
	border: solid 1px;
	border-radius: 16px;
}
.about .about-container-1 .profile {
	width: 400px;
	height: 400px;
	margin-top: 50px;
	border-radius: 50%;
}
.about .about-container-2 {
	padding-left: 20px;
	width: 100%;
	display: inline-block;
	background-color: wheat;
}

.about .about-container-2 .about-1 {
	font-size: 26px;
	font-weight: 450;
}
.about .about-container-2 .about-2 {
	font-size: 30px;
	font-weight: 400;
}
.about .about-container-2 .about-3 {
	font-size: 24px;
	font-weight: 600;
}

.about .about-container-2 .about-4 {
	font-size: 20px;
	font-weight: 600;
	display: none;
}

.background {
	padding: 80px;
}
.background-container {
	display: grid;

	border: 2px solid darkblue;
	border-radius: 20px;
	width: 100%;
	background-color: tan;
	color: darkblue;
	border-radius: 20px;
	padding: 40px;
}

div.background-img {
	height: 100%;
	width: 100%;
}
.background-img .img1 {
	grid-area: cpp;
}
.background-img .img2 {
	grid-area: c;
}
.background-img .img3 {
	grid-area: csharp;
}
.background-img .img4 {
	grid-area: css;
}
.background-img .img5 {
	grid-area: chrome;
}
.background-img .img6 {
	grid-area: html5;
}
.background-img .img7 {
	grid-area: javascript;
}
.background-img .img8 {
	grid-area: salesforce;
}
.background-img .img9 {
	grid-area: vscode;
}
.background-img .img10 {
	grid-area: java;
}
.background-img .img11 {
	grid-area: python;
}
.background-img .img12 {
	grid-area: unity;
}

@media (min-width: 415px) and (max-width: 768px) {
	.background-container {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 1fr;

		grid-template-areas:
			'csharp      c           cpp     css     chrome  html5'
			'javascript  salesforce  vscode  java    python  unity';
	}
}

@media (min-width: 769px) {
	.background-container {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr;

		grid-template-areas: 'cpp    c   csharp  css chrome  html5   javascript  salesforce  vscode  java    python  unity';
	}
}
@media (max-width: 953px) {
	.about .about-container-1 .profile {
		display: none;
	}
}
@media (max-width: 579px) {
	.about .about-container-2 .about-3 {
		display: none;
	}
	.about .about-container-2 .about-4 {
		font-size: 20px;
		font-weight: 600;
		display: block;
	}
}

@media (min-width: 929px) and (max-width: 1154px) {
	.about .about-container-1 .about-3 {
		font-size: 20px;
		font-weight: 600;
	}
}
@media (min-width: 580px) and (max-width: 928px) {
	.about .about-container-1 .about-3 {
		font-size: 20px;
		font-weight: 600;
	}
}

.projects {
	width: 100%;
	display: flex;
	flex-flow: column;
	padding: 100px 0;
	background-color: #badeed;
}
.projects .title {
	padding-left: 80px;
}

.grid-container {
	display: grid;
	grid-template-columns: 3fr 3fr;
	padding-left: 50px;
	grid-template-rows: 1fr;
	gap: 10px;
	text-align: center;
}

.projects .projects-container {
	padding-top: 0px;
	padding-left: 70px;
	margin-left: 70px;
	display: flex;
	flex-flow: row nowrap;
	height: 80%;
	width: 80%;
	background-color: red;
	border-radius: 16px;
}

.projects .projects-container-2 {
	height: 600px;
	width: 90%;
	display: flex;
	flex-flow: column;
	background-color: wheat;
	border: solid 2px rebeccapurple;
	border-radius: 16px;
	gap: 10px;
}

.projects .projects-container-2 .proj-img {
	align-self: center;
	height: 480px;
	width: 70%;
}
.grid-container .projects-container-2 .box {
	padding-top: 10px;
	padding-bottom: 10px;

	width: 100%;
	transition: all 0.3s ease;
}
.grid-container .projects-container-2:hover .box {
	transform: scale(1.05);
}

.btn:link,
.btn:visited {
	background-color: #151145;
	color: white;
	padding: 5px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.btn:hover,
.btn:active {
	background-color: red;
}

.contact {
	height: 400px;
}

.contact .form {
	text-align: center;
	border: solid 1px;
	border-radius: 16px;
}

.form-group {
	text-align: left;
}

@media (max-width: 869px) {
	.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px;
	}
}

@media (min-width: 414px) {
	.form {
		width: 400px;
		margin: auto;
	}
}
@media (min-width: 768px) {
	.form {
		width: 600px;
		margin: auto;
	}
}
@media (min-width: 869px) {
	.form {
		width: 800px;
		margin: auto;
	}
}
